* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body {
  background-color: #2b2922;
  overflow-x: hidden;
}
.logo {
  width: 11%;
  height: auto;
  position: absolute;
  top: 80px;
  left: 100px;
}

ul {
  list-style: none;
  position: absolute;
  top: 90px;
  left: 600px;
  color: rgb(124, 124, 124);
  font-size: 23px;
}
li {
  display: inline-block;
  margin: 0 10px;
}
li:hover {
  color: rgb(255, 255, 255);
}
.button-small {
  position: absolute;
  top: 80px;
  left: 1200px;
  background: transparent;
  border-color: gold;
  border-width: 3px;
  border-radius: 10px;
  color: gold;
  width: 160px;
  height: 50px;
  font-size: 20px;
}
h1 {
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  font-size: 76px;
}
p {
  position: absolute;
  top: 250px;
  left: 860px;
  color: #d9d7d7;
  font-size: 20px;
}
.bottom {
  position: absolute;
  top: 450px;
  left: 2px;
}
.law {
  width: 1520px;
  height: 300px;
}
